#main-container
{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#logo-container
{
  margin-top: 50px;
}

#logo
{
  width: 200px;
  height: auto;
  margin: 0px auto;
}

.ng-app-embedded
{
  margin-top: 20%;
}

#main-title
{
  font-size: 30px;
  text-align: center;
  color: white;
}

#simple-text
{
  text-align: center;
  color: white;
}

.footer
{
  background-color: black !important;
}

.footer a
{
  color: white !important;
}
